button {
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  font-weight: 600;
  font-family: "Lato";
  height: 50px;
}
button:disabled{
  cursor: not-allowed;
}

.high {
  color: #111111;
  background-color: rgba(36, 107, 185, 0);
  border: 2px solid #ded3aa;
  grid-column: 3;
}

.medium {
  color: #fff;
  background-color: #111111;
  border: 2px solid #ded3aa;
  grid-column: 3;
}
