@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Lato:wght@400;700;900&family=Montserrat:wght@400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@100;400;500;700;900&display=swap');
.App {
  font-family: 'Lato', sans-serif;
}
:root {
  --white-color: #ffff;
  --dark-color: #111111;
}
